In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv("../input/train_cat.csv")
df_test = pd.read_csv("../input/test_cat.csv")
cols = [c for c in df.columns if c not in ["id, target"]]

In [5]:
df.tail()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN,0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0,0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0,0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0,0

In [3]:
df_test.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,ca9ad1d4b,fced9e114,3.0,Novice,Boiling Hot,f,U,oU,3.0,9.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,060a21580,7ca8775da,1.0,Novice,Cold,n,N,NaN,2.0,8.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,165e81a00,5940334c9,1.0,Expert,Warm,i,N,DN,2.0,6.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,77d41330d,6fbdeefc8,1.0,Expert,Hot,m,B,AG,1.0,6.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,2218d9dfe,2a27c8fde,1.0,Contributor,Lava Hot,o,J,DT,3.0,3.0

In [3]:
for c in cols:
    df[c] = df[c].fillna("-999999").astype(str)

In [5]:
lbl = preprocessing.LabelBinarizer()

In [ ]:
df.sample(5)

In [ ]:
for c in cols:
    lbl = preprocessing.LabelBinarizer()
    lbl.fit(df[c])

In [9]:
lbl.fit(df["ord_2"])

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [10]:
lbl.classes_

array(['-999999', 'Boiling Hot', 'Cold', 'Freezing', 'Hot', 'Lava Hot',
       'Warm'], dtype='<U11')

In [12]:
val = lbl.transform(df.ord_2.values)

In [ ]:
df
for j in range(val.shape[1]):
    new_col = f"__bin__{j}"
    df[]